<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-12">
      <!-- Page title -->
        <div class="my-5">
          <h3>My Profile</h3>
          <hr>
        </div>
      <!-- Form START -->
      <%= form_for(@account, :class => 'file-upload', url: new_account_path(@account)) do |f| %>
        <div class="row mb-5 gx-5">
          <!-- Contact detail -->
          <div class="col-xxl-8 mb-5 mb-xxl-0">
            <div class="bg-secondary-soft px-4 py-5 rounded">
              <div class="row g-3">
                <h4 class="mb-4 mt-0">Contact detail</h4>
                <!-- First Name -->
                <div class="col-md-6">
                  <%= f.label :first_name %>
                  <%= f.text_field :first_name, autofocus: true, :class => 'form-control', :type => 'text', autocomplete: "first_name" %>
                </div>
                <!-- Last name -->
                <div class="col-md-6">
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name, autofocus: true, :class => 'form-control', :type => 'text', autocomplete: "last_name" %>
                </div>
                <!-- Phone number -->
                <div class="col-md-6">
                  <%= f.label :phone %>
                  <%= f.text_field :phone, autofocus: true, :class => 'form-control', :type => 'text', autocomplete: "phone" %>
                </div>
                <!-- Mobile number -->
                <div class="col-md-6">
                  <%= f.label :mobile %>
                  <%= f.text_field :mobile, autofocus: true, :class => 'form-control', :type => 'text', autocomplete: "mobile" %>
                </div>
                <!-- Street Address -->
                <div class="col-md-6">
                  <%= f.label :street_address %>
                  <%= f.text_field :street_address, autofocus: true, :class => 'form-control', :type => 'text', autocomplete: "street_address" %>
                </div>
                <!-- City -->
                <div class="col-md-6">
                  <%= f.label :city %>
                  <%= f.text_field :city, autofocus: true, :class => 'form-control', :type => 'text', autocomplete: "city" %>
                </div>
                <!-- State -->
                <div class="col-md-6">
                  <%= f.label :state %>
                  <%= f.text_field :state, autofocus: true, :class => 'form-control', :type => 'text', autocomplete: "state" %>
                </div>
                <!-- Zip -->
                <div class="col-md-6">
                  <%= f.label :zip %>
                  <%= f.text_field :zip, autofocus: true, :class => 'form-control', :type => 'text', autocomplete: "zip" %>
                </div>

                <!--
                      t.string :profile_pic_url -->
              </div> <!-- Row END -->
            </div>
          </div>
        </div> <!-- Row END -->

        <!-- Social media detail -->
        <div class="row mb-5 gx-5">
          <div class="col-xxl-6 mb-5 mb-xxl-0">
            <div class="bg-secondary-soft px-4 py-5 rounded">
              <div class="row g-3">
                <h4 class="mb-4 mt-0">Social media detail</h4>
                <!-- Facebook -->
                <div class="col-md-6">
                  <%= f.label :facebook %>
                  <%= f.text_field :facebook, autofocus: true, :class => 'form-control', :type => 'text', autocomplete: "facebook" %>
                </div>
                <!-- Twitter -->
                <div class="col-md-6">
                  <%= f.label :twitter %>
                  <%= f.text_field :twitter, autofocus: true, :class => 'form-control', :type => 'text', autocomplete: "twitter" %>
                </div>
                <div class="col-md-6">
                  <label class="form-label"><i class="fab fa-fw fa-twitter text-twitter me-2"></i>Twitter *</label>
                  <input type="text" class="form-control" placeholder="" aria-label="Twitter" value="http://www.twitter.com">
                </div>
                <!-- Linkedin -->
                <div class="col-md-6">
                  <%= f.label :website %>
                  <%= f.text_field :website, autofocus: true, :class => 'form-control', :type => 'text', autocomplete: "website" %>
                </div>
                <!-- Instragram -->
                <div class="col-md-6">
                  <%= f.label :instagram %>
                  <%= f.text_field :instagram, autofocus: true, :class => 'form-control', :type => 'text', autocomplete: "instagram" %>
                </div>
                <!-- Dribble -->
                <div class="col-md-6">
                  <%= f.label :tiktok %>
                  <%= f.text_field :tiktok, autofocus: true, :class => 'form-control', :type => 'text', autocomplete: "tiktok" %>
                </div>
              </div> <!-- Row END -->
            </div>
          </div>
        </div> <!-- Row END -->
        <!-- button -->
        <div class="gap-3 d-md-flex justify-content-md-end text-center">
          <button type="button" class="btn btn-danger btn-lg">Delete profile</button>
          <%= form.submit %>
        </div>
      <% end %> <!-- Form END -->
      </div>
    </div>
  </div>
<% end %>

<!-- Upload profile -->
<div class="col-xxl-4">
  <div class="bg-secondary-soft px-4 py-5 rounded">
    <div class="row g-3">
      <h4 class="mb-4 mt-0">Upload your profile photo</h4>
      <div class="text-center">
        <!-- Image upload -->
        <div class="square position-relative display-2 mb-3">
          <i class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary"></i>
          <img src="<%= @account.profile_pic_url%>" alt="" class="img-portrait" />
        </div>
        <!-- Button -->
        <%= form_tag update_profile_picture_path, enctype: 'multipart/form-data' do %>
          <%= file_field_tag :file  %>
          <%= submit_tag 'Upload file' %>
        <% end %>
        <!-- Content -->
        <p class="text-muted mt-3 mb-0"><span class="me-1">Note:</span>Minimum size 300px x 300px</p>
      </div>
    </div>
  </div>
</div>
